{% extends 'layout.html.twig' %}

{% block title %}Error!{% endblock %}

{% block content %}
	<div class="row" id="errorPanel">
		<div class="col-xs-12">
			<h1>Whoops...<br/>
				<small>{{ message }}<br/>
					<small><em>Error code: {{ code }}</em></small>
				</small>
			</h1>
		</div>
{% endblock %}
