{% extends "layout.html.twig" %}

{% block title %}Infos pratiques{% endblock %}

{% block content %}
	<div class="row"><div class="col-xs-12">
		<h1>Infos pratiques</h1>
	</div></div>
	
<!--	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class=""></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4></h4>
		</div>
	</div>
-->

	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-time"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>De 15h à Minuit<br/>
			<small>Vous pouvez entrer et sortir comme bon vous semble durant toute la période.</small></h4>
		</div>
	</div>
	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-euro"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Accès totalement gratuit<br/><small>Une participation libre sera la bienvenue durant l'apéritif musical à 19h</small></h4>
		</div>
	</div>
	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-map-marker"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Kiosque Badoit<br/><small>Avenue de la Coise, Saint-Galmier (42330)</small></h4>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d698.0242694924423!2d4.313541077296017!3d45.588593182925116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f44de7120ec11b%3A0xabff77208815d65a!2sAvenue+de+la+Coise%2C+42330+Saint-Galmier!5e0!3m2!1sfr!2sfr!4v1464380162129" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>		
		</div>
	</div>

	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-cutlery"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>De la petite restauration sera proposée sur place <small>(glaces, crèpes, frites, hot-dogs, friandises)</small></h4>
			<h4>Le soir, une formule à <u>8€</u> permettra de faire un repas complet <small>(barbecue + frites + fourme + glace)</small></h4>
		</div>
	</div>
	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-glass"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Des boissons fraiches seront vendues dans des verres personnalisés <u>consignés</u> <small>(bière, vin, jus de fruit, coca, limonade, orangina)</small></h4>
		</div>
	</div>
	
	
	
	
	
	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-thumbs-up"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Ne pas oublier de prévoir : <small>
				<ul>
					<li>Quelques billets :)</li>
					<li>Des protections solaires</li>
					<li>Une petite laine pour le soir</li>
				</ul>
			</small></h4>
		</div>
	</div>

	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-thumbs-down"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>A éviter :<small>
				<ul>
					<li>Objets tranchants, contondants</li>
					<li>Le verre</li>
					<li>Tout ce qui produit des flammes ou des explosions..</li>
				</ul>
			</small></h4>
		</div>
	</div>
	
	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-search"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Les objets perdus seront conservés un mois par l'association Not'en Bulles. <small>Tél : 06 08 96 55 01</small></h4>
		</div>
	</div>

	<div class="row rowspaced">
		<div class="col-xs-2 col-sm-1 text-right">
			<h4 class="lightyellow"><span class="glyphicon glyphicon-exclamation-sign"></span></h4>
		</div>
		<div class="col-xs-10 col-sm-11 text-justify">
			<h4>Bien que le festival soit ouvert à tout public,<small> le volume sonore des concerts peut porter atteinte aux oreilles sensibles, notamment des jeunes enfants. Nous vous conseillons de vous munir de protections adéquates.</small></h4>
		</div>
	</div>
		

	
	

	<div class="row"><div class="col-xs-12">
		<h1>Plan du site Badoit</h1>
	</div></div>
	
	<div class="row rowspaced">
		<div class="col-xs-12 text-center">
			<a href="{{ app.request.basepath }}/images/plan_2016.jpg" title="Cliquer pour voir en pleine page"><img src="{{ app.request.basepath }}/images/plan_2016_mini.jpg" alt="Plan du site Badoit" class="photo" /></a>
		</div>
	</div>
{% endblock %}
