{% extends "layout.html.twig" %}

{% block title %}Programme{% endblock %}

{% block content %}
	<div class="row"><div class="col-xs-12">
		<h1>Programmation</h1>
	</div></div>
	
	<div class="row">
		<div class="col-xs-2">
			<h2>15H</h2>
		</div>
		<div class="col-xs-10 text-left">
			<h2 class="lightgreen" role="button" data-toggle="collapse" data-target="#parc" aria-expanded="true" aria-controls="parc">Dans le parc <small><span class="parc-toggle glyphicon glyphicon-triangle-bottom lightgreen"></span></small></h2>
		</div>

		<div class="col-xs-offset-1 col-xs-11 text-left light-border-left" style="padding-left:8%">&nbsp;
			<div id="parc" class="collapse in">
				<h4>- Portes ouvertes de l'Ecole de Musique et de Danse</h4>
				<h4>- Bourse de matériel <small>(instruments de musique, sono, disques, CDs/DVDs, partitions, ...)</small></h4>
				<h4>- Exposition de peinture sur le thème du jazz <small>de Maurice Moyne</small></h4>
			</div>
		</div>
		<div class="col-xs-2">
			<h2>18H30</h2>
		</div>
	</div>
	
	<div><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span></div>

	<div class="row">
		<div class="col-xs-2">
			<h2>15H</h2>
		</div>
		<div class="col-xs-10 text-left">
			<h2 class="lightgreen" role="button" data-toggle="collapse" data-target="#scene1" aria-expanded="true" aria-controls="scene1">Scène 1 <small><span class="scene1-toggle glyphicon glyphicon-triangle-bottom lightgreen"></span></small></h2>
		</div>

		<div class="col-xs-offset-1 col-xs-11 text-left light-border-left" style="padding-left:8%">&nbsp;
			<div id="scene1" class="collapse in">
				<h4><span class="lightyellow">15h15</span> Pizz' Bulles</h4>
				<h4><span class="lightyellow">15h45</span> Da Vinci Cordes</h4>
				<h4><span class="lightyellow">16h20</span> Ensemble de clarinettes</h4>
				<h4><span class="lightyellow">17h00</span> Mini Bulles</h4>
				<h4><span class="lightyellow">18h00</span> Bulles Juniors <small>(orchestre)</small></h4>
				<h4><span class="lightyellow">18h30</span> Not'en Bulles <small>(harmonie)</small></h4>
				<h4><span class="lightyellow">19h30</span> Apéritif ambiance piano bar Julien &amp; Marc <small>(jazz)</small></h4>
				<h4><span class="lightyellow">20h30</span> Mystère Swing Big Band <small>(jazz)</small></h4>
				<h4><span class="lightyellow">22h00</span> Hexagone <small>(variété)</small></h4>
				<h4><span class="lightyellow">23h00</span> The Creeples <small>(rock)</small></h4>
			</div>
		</div>
		<div class="col-xs-2">
			<h2>00H</h2>
		</div>
	</div>

	<div><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span></div>

	<div class="row">
		<div class="col-xs-2">
			<h2>15H</h2>
		</div>
		<div class="col-xs-10 text-left">
			<h2 class="lightgreen" role="button" data-toggle="collapse" data-target="#scene2" aria-expanded="true" aria-controls="scene2">Scène 2 <small><span class="scene2-toggle glyphicon glyphicon-triangle-bottom lightgreen"></span></small></h2>
		</div>

		<div class="col-xs-offset-1 col-xs-11 text-left light-border-left" style="padding-left:8%">&nbsp;
			<div id="scene2" class="collapse in">
				<h4><span class="lightyellow">15h00</span> Combo</h4>
				<h4><span class="lightyellow">15h30</span> Ensemble de guitares</h4>
				<h4><span class="lightyellow">16h00</span> Ensemble de hautbois</h4>
				<h4><span class="lightyellow">16h40</span> Ensemble de flûtes</h4>
				<h4><span class="lightyellow">17h30</span> Chorale Mini et Junior</h4>
				<h4><span class="lightyellow">Intermèdes en soirée</span> Djaseroc <small>(jazz rock)</small></h4>
			</div>
		</div>
		<div class="col-xs-2">
			<h2>23H</h2>
		</div>
	</div>

	<div><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span><span class="glyphicon glyphicon-option-horizontal"></span></div>

	<div class="row">
		<div class="col-xs-2">
			<h2>16H</h2>
		</div>
		<div class="col-xs-10 text-left">
			<h2 class="lightgreen" role="button" data-toggle="collapse" data-target="#danse" aria-expanded="true" aria-controls="danse">Salle de danse Badoit <small><span class="danse-toggle glyphicon glyphicon-triangle-bottom lightgreen"></span></small></h2>
		</div>

		<div class="col-xs-offset-1 col-xs-11 text-left light-border-left" style="padding-left:8%">&nbsp;
			<div id="danse" class="collapse in">
				<h4><span class="lightyellow">16h00</span> Danse classique</h4>
				<h4><span class="lightyellow">16h30</span> Modern' jazz</h4>
				<h4><span class="lightyellow">17h00</span> Danse classique</h4>
			</div>
		</div>
		<div class="col-xs-2">
			<h2>17H30</h2>
		</div>
	</div>

{% endblock %}
